{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        ["babel-plugin-module-resolver", {
            "alias": {
            "^effector$": "effector/compat",
            "^effector-react$": "effector-react/compat"
            }
        }]
    ]
}